@import "bourbon/_bourbon";
@import "config";

$text: $white;
$text2: $black_light;

	
h1{
	text-align: left;
	color: $text;
	margin: 10px 0;
}

h2{
	text-align: left;
	color: $text;
	margin: 5px 0 10px 0;
}

.menu-primary{
	$background: $blue_dark;
	margin: 0;	
	background-color: $background;
	ul{
		list-style-type: none;
	}
	a{
		color: $text;
	}
}

.menu-secondary{
	$background: $blue_dark;
	background-color: $background;
	height:60px;
	.menu-primary-button{
		background-color: white; //TODO
		cursor: pointer;
	}	
}

.block{
	@media all and (min-width: 768px){
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

.header{
	$background: $blue;
	background-color: $background;
}

.features{
	$background: $blue_light;
	background-color: $background;
}
.compatibility{
	$background: $grey_light;
	background-color: $background;
	h2{
		color: $text2;
	}
}

.getting-started{
	$background: $red;
	background-color: $background;
}


.footer{
	$background: $blue_dark;
	background-color: $background;
}




