.jb-content{
    display: block;
    position: relative;
    background-color: #ffffff; 
    z-index: 1;
    @include prefixer(backface-visibility, hidden, webkit);
    @include prefixer(perspective, 1000, webkit);
    @include xs{
        padding-top: 40px;
    }
    @include sm{
        padding-top: 60px;
    } 
} 